// colores
$azul = #0D0E62
$negro = #10121F
$guinda = #B61E45
$verde = #95B128
$fondo = #3B5E88
$plomo1 = #DEDEDE
$plomo2 = #C9C9C9
$plomo3 = #535353
$morado1 = #623F85
$morado2 = #B10B7F
$c_pantalla_fondo = #77747F
$c_pantalla_principal = #9C9715
$c_bateria = #882021
$c_logo = #453C71

// tamaños
$fz = 16px